In [25]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


df = pd.read_csv("/content/Dataset .csv")

df["Cuisines"] = df["Cuisines"].fillna("Unkown")
print(df.isnull().sum())

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['Cuisines'])

user_preference = {
    "Cuisines": "North Indian",
    "Price range": 2,
    "Rating": 4.0
}

# Create similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

def recommend_restaurants(preferred_cuisine, top_n=5):

    user_vector = tfidf.transform([preferred_cuisine])

    similarity_scores = cosine_similarity(user_vector, tfidf_matrix)

    top_indices = similarity_scores.argsort()[0][-top_n:][::-1]

    return df.iloc[top_indices][['Restaurant Name', 'Cuisines', 'Aggregate rating', 'Price range']]

# Test the System
# recommend_restaurants("North Indian", top_n=5)

# Include Price with Rating
def recommend_restaurants_rating(cuisines, price, min_rating = 3.0, top_n = 5):

    user_vector = tfidf.transform([cuisines])
    similarity_scores = cosine_similarity(user_vector, tfidf_matrix)

    df['Similarity'] = similarity_scores[0]

    filtered = df[
        (df['Price range'] == price) &
        (df['Aggregate rating'] >= min_rating)
    ]

    recommendations = filtered.sort_values(
        by=['Similarity', 'Aggregate rating'],
        ascending=False
    ).head(top_n)

    return recommendations[['Restaurant Name', 'Cuisines', 'Aggregate rating', 'Price range']]

# Test the System
recommend_restaurants_rating("North Indian", price=2, min_rating=4.0)

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

      Restaurant Name               Cuisines  Aggregate rating  Price range
2114  Tandoor Express           North Indian               4.2            2
702   Kesar Da Dhabha           North Indian               4.1            2
9194   Saffron Mantra  North Indian, Chinese               4.4            2
784        Food Fever  Chinese, North Indian               4.2            2
2411            BarBQ  Chinese, North Indian               4.2            2